<h1>New template_format\skill</h1>

<div class="card" style="margin: 0% 20% 0% 20%">
  <div class="card-body bg-secondary"><%= render "form", template_format: @template_format %></div>
</div>

<br>

<div>
  <%= link_to "Back to template_formats", template_formats_path %>
</div>
