<div class="container-md">
  <div class="card">
    <h3>Edit skill</h3>
    <%= link_to "arrow_back", tech_stacks_path ,class:"pos_card_l material-symbols-outlined" %>
    <%= link_to "Show this tech_stack", @tech_stack ,class: "pos_card_r" %>
    <div class="card-body"><%= render "form", tech_stack: @tech_stack %></div>
  </div>
</div>

