<div class="container-md">
  <div class="card">
    <h3 class="center_h">Edit skill</h3>
    <%= link_to "arrow_back", tech_stacks_path ,class:"pos_card_l material-symbols-outlined" %>
    <!-- <%= link_to "Show this tech_stack", @tech_stack ,class: "pos_card_r" %> -->
    <%= link_to @tech_stack , class: 'material-symbols-outlined pos_card_r' do %>
    <span>Visibility</span>
    <%end%>
    <div class="card-body"><%= render "form", tech_stack: @tech_stack %></div>
  </div>
</div>

