<h1>New tech_stack\skill</h1>

<div class="card" style="margin: 0% 20% 0% 20%">
  <div class="card-body bg-secondary"><%= render "form", tech_stack: @tech_stack %></div>
</div>

<br>

<div>
  <%= link_to "Back to tech_stacks", tech_stacks_path %>
</div>
