<h1>New Skill</h1>

<div class="card">
  <%= link_to "arrow_back", tech_stacks_path ,class:"pos_card_l material-symbols-outlined"%>
  <div class="card-body"><%= render "form", tech_stack: @tech_stack %></div>
</div>


