<h1>New template\skill</h1>

<div class="card" style="margin: 0% 20% 0% 20%">
  <div class="card-body bg-secondary"><%= render "form", template: @template %></div>
</div>

<br>

<div>
  <%= link_to "Back to templates", templates_path %>
</div>
