<% begin %>
<style>
    :root {
    --background-image-url: url(<%= asset_path("home_page.jpg") %>);
    }
</style>
<% rescue Sprockets::Rails::Helper::AssetNotFound %>
<% end %>
<style>
    body
    {
    min-height: 88vh;
    /* background: url(/assets/home_page.jpg); */
    background: var(--background-image-url);
    background-position: center;
    background-size: cover;
    }
    .content{
        backdrop-filter: blur(1px);
    }
</style>
<div style="display: flex;justify-content: center;align-items: center;height: 90vh;">
    <div class="card text-center" >
        <div class="card-body">
        <% name = current_user.present? ? current_user.email : 'Stranger' %>
        <div>
            <h2>Welcome, <%= name %> </h2>
        </div>
        </div>
    </div>
</div>
