<!-- <%= stylesheet_link_tag  "index" %> -->
<% name = current_user.present? ? current_user.email : 'Stranger' %>
<div style="justify-content: center;display: flex;align-items: center;height: 85vh;">
    <h2>Welcome, <%= name %> </h2>
</div>
