<div class="container-md">
  <div class="card">
    <h3 class="center_h">Editing domain</h3>
    <%= link_to "arrow_back", domains_path ,class:"pos_card_l material-symbols-outlined" %>
    <div class="card-body col-7 container">
      <%= render "form", domain: @domain %>
    </div>
  </div>
</div>
