<h1>New domain</h1>
<div class="card" style="margin: 0% 20% 0% 20%">
  <div class="card-body bg-secondary"><%= render "form", domain: @domain %></div>
</div>

<br>

<div>
  <%= link_to "Back to domains", domains_path %>
</div>
