<%= stylesheet_link_tag  "edit" %>


<div class="card">
  <%= link_to "arrow_back", candidates_path ,class:"pos_card_l material-symbols-outlined"%>
  <div class="card-body">
    <%= render "form", candidate: @candidate %>
  </div>
</div>

