<h1>Editing project</h1>

<div >
  <div class="card-body bg-secondary col-7 container">
    <%= render "form", project: @project %></div>
</div>
<br>

<div>
  <%= link_to "Show this project", @project %> |
  <%= link_to "Back to projects", projects_path %>
</div>
