<div class="edit_class">
<h1>Editing project</h1>
<div style="position: relative;">
</div>
    <div class="card" style="margin: 0% 15% 0% 15%">
      <a class="pos_card_l material-symbols-outlined" href="/projects">arrow_back</a>
      <%= link_to "Show this project", @project ,class: "pos_card_r" %>
      <div class="card-body">
        <%= render "form", project: @project %>
      </div>
    </div>
</div>