<%= stylesheet_link_tag  "edit" %>
<h1>Editing project</h1>
<div style="text-align: center">

<div >
  <div class="card-body bg-secondary col-7 container">
    <%= render "form", project: @project %></div>
</div>
<br>

</div>
<div style="position: relative;">
  <%= link_to "Show this project", @project ,class: "pos_r" %>
  <%= link_to "arrow_back", projects_path ,class:"pos_l material-symbols-outlined" %>
</div>