<div class="container-md">
  <div class="card">
    <h3 class="center_h">Editing project</h3>
      <a class="pos_card_l material-symbols-outlined" href="/projects">arrow_back</a>
      <%= link_to @project , class: 'material-symbols-outlined pos_card_r' do %>
        <span>Visibility</span>
      <%end%>
      <div class="card-body">
        <%= render "form", project: @project %>
      </div>
    </div>
</div>