<div class="container-md">
  
  <div class="card">
    <h3 class="center_h">New project</h3>
    <a class="pos_card_l material-symbols-outlined" href="/projects">arrow_back</a>
    <div class="card-body"><%= render "form", project: @project %></div>
  </div>
</div>