<div style="text-align: center">
<h1>New project</h1>
<div class="card" style="margin: 0% 20% 0% 20%">
  <div class="card-body bg-secondary"><%= render "form", project: @project %></div>
</div>

<br>

<div>
  <%= link_to "Back to projects", projects_path %>
</div>

</div>