
  <div class="container-md">
    <div class="card" >
        <h3>Editing curriculum vitae</h3>
          <%= link_to "arrow_back", curriculum_vitaes_path ,class:"pos_card_l material-symbols-outlined" %>
          <%= link_to "Show CV", @curriculum_vitae ,class: "pos_card_r"  %>
        <div class="card-body"><%= render "form", curriculum_vitae: @curriculum_vitae %></div>
      </div>
  </div>

  
