<%= stylesheet_link_tag  "edit" %>
<h1>Editing curriculum_vitae</h1>
<div style="position: relative;">
  <%= link_to "Show this curriculum_vitae", @curriculum_vitae ,class: "pos_r"  %>
  <%= link_to "arrow_back", curriculum_vitaes_path ,class:"pos_l material-symbols-outlined" %>
</div>
<!-- <div style="text-align: center"> -->
<div class="card" style="margin: 0% 20% 0% 20%">
  <div class="card-body bg-secondary"><%= render "form", curriculum_vitae: @curriculum_vitae %></div>
</div>

<!-- </div> -->
