<h1>New profile</h1>
<div class="card" style="margin: 0% 20% 0% 20%">
  <div class="card-body bg-secondary"><%= render "form", profile: @curriculum_vitae %></div>
</div>
<div>
  <%= link_to "Back to CV Index", curriculum_vitaes_path %>
</div>
