*{
  box-sizing: border-box;
  font-family: 'poppins' , sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f5;

}
.container
{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  /* background: #ff2; */
  margin: 50px;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
  /* ^^ */
}
.top
{
  position: relative;
  width:100%;
  height: 400px;
  background: linear-gradient(45deg , #231fbf, #69175f);
  padding: 50px;
}