<!-- by using grouped_options_for_select  // at hepler method -->
<div class="repeater_proj">
  <%= form.label "Projects" , style: "display: block " ,class: "" %>
  <div  data-repeater-list="db_name">
    <div class="row" data-repeater-item>
      <div class="col-3" >
        <!-- <%= form.select(:project_ids, grouped_options_for_select(helper_grouped_projects_options , selected: curriculum_vitae.project_ids), {}, { multiple: true, include_blank: false ,class: "selectpicker show-menu-arrow form-control" , 'data-live-search': "true" }) %> -->
        <%= form.select(:project_ids, grouped_options_for_select(helper_grouped_projects_options , selected: curriculum_vitae.project_ids), {}, { include_blank: false ,class: "form-control" ,onchange: "project_select(this)" ,include_blank: true}) %>
        <!-- error message-->
        <% curriculum_vitae.errors[:projects].each do |message| %>
        <span style="background: cornsilk; color: red; border-radius: 5px;">
        <%= message %>
        </span>
        <%end%>
      </div>
      <div class="col-7" hidden="true" id="cloned_content">
        <!-- container ......... -->
        <div class="form-group">
          <%= form.label :title, style: "display: block" ,class: "" %>
          <%= form.text_field :title ,class:"form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :desc, style: "display: block" ,class: "" %>
          <%= form.text_area :desc ,class:"form-control"%>
        </div>
        <div class="form-group">
          <%= form.label :team_size, style: "display: block" ,class: "" %>
          <%= form.number_field :team_size ,class:"form-control"%>
        </div>
        <div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <%= form.label :start_date, style: "display: block" ,class: "" %>
                <%= form.date_field :start_date , max: Date.today ,class: 'form-control  container' ,id: "start_date_id"%>
              </div>
              <div class="col-6">
                <%= form.label :end_date, style: "display: block" ,class: "" %>
                <%= form.date_field :end_date , max: Date.today ,class: 'form-control  container',id: "end_date_id"%>
              </div>
            </div>
          </div>
          <div style="padding-left: 4%;" class="form-inline">
            <input type="checkbox" id="inprogress_id">
            <p style="margin-bottom: 0px;color: #657079;">currently running</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :core_skill, style: "display: block" ,class: "" %>
              <%#= form.fields_for :linkable_core_tech_attributes, @project.linkable_core_tech do |cs| %>
              <%= form.collection_select :tech_stack_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{class: "form-control" ,style:"height: 45px; margin-top: 7px;"} %>
              <%# end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :supportive_skill , style: "display: block" ,class: "" %>
              <div>
                <%= form.collection_select(:supportive_skill_ids, TechStack.supportive_skills, :id, :title , {}, { multiple: true,
                  include_blank: false,class: "selectpicker show-menu-arrow form-control" }) %>
                </select>
                <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2" style="padding: 0;right: 8px; height: 37px;display: inline-flex;">
        <!-- - -->
        <button type="button" data-repeater-delete=""  class="deleteg btn btn-outline-danger  fa fa-close " style="font-size: 13px;" , onclick="deleteRepeaterItem(this);" ></button>
        <button type="button" class="btn btn-outline-info fa fa-eye-slash deleteg" style="font-size: 13px;" , onclick="showHide(this);" ></button>
        <!-- fa-eye-slash -->
      </div>
    </div>
  </div>
  <!-- + -->
  <div>
    <button type="button" data-repeater-create class="btn btn-outline-info btn-sm btn-add-g" >+ Add</button>
  </div>
</div>