<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title> 
    <link rel="stylesheet" type="text/css" href="styleG.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="top">

<h2>John Doe <br> <span>Creative Designer</span></h2>
            <div class="imgBx">
                <img src="img.jpg" alt="cant  load">
            </div>
        </div>
        <div class="group">
            <div class="leftSide bg-primary">
                woooo
            </div>
            <div class="rightSide">
                <p>Lorem ipsum dolor sit, amet consectetur 
                    adipisicing elit. Voluptates nisi provident 
                    perspiciatis eos, molestias ipsam obcaecati
                     consequatur veniam porro quo quod dolorem 
                     fuga ad sed modi beatae non hic eveniet.
                    </p>
            </div>
    </div>
</div>
</body>
</html>