/* // all  */
.card{
  box-shadow: inset -4px 1px 16px 0px #7adeeb87;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #f6f9ff;
  border-radius: 13px;
  padding-top: 7px;
  box-shadow: 1px 1px 19px 2px #62a7a7;
}
body
{
min-height: 88vh;
background: url(/assets/home_page.jpg);
background-position: center;
background-size: cover;
}
.body
{
    transform: scale(0.9);
    transform-origin: top left;
    width: 111%;
    height: 111%;
}
.btn-success{
  margin-top: 8px;
}
h1{
  text-align: center;
}
/* edit show*/
h2{
  color: skyblue;
}
label {
  margin-bottom: 0;
  margin-top: 2%;
}
.g_sm_btn {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 13px;
  padding-right: 10px;
  padding-left: 10px;
}
.btn-add-g
{
  font-size: 13px;margin-top: 4px;
  padding: 13px 6px 16px 6px;
}
.form-group{
  margin-bottom: 2px;
  } 
  
.div_group
{
  margin-top: 10px;
  margin-bottom: 8px;
}
.div_group .div_sub_group{
  padding-left: 15px;
}
.has_one
{
  margin-top: 7px;
}
.has_many{
  margin-top: 5px;
  width: 100% !important;
}
.checkbox_form p
{
  margin-bottom: 0px;
  color: #657079;
}
.g_rep_item{
  border: solid 2px;
  border-style: groove;
  padding-bottom: 20px;
}

.error {
  color: red;
}
/* index */

.pos_card_new
{
  position: absolute;
  top: 20px;
  left: 4px;
}
/* show destroy */
.pos_r {
  position: absolute;
  right: 2%;
  top: 8px;
}

.table_gr {
  width: 100%;
  overflow-x: auto;
}
.table_gr table
{
  background-image: linear-gradient(36deg,#d4d2dd45 31%,rgba(244, 244, 255,0.36) 26%,#fdfdfd4a),linear-gradient(212deg,#bbbabf45 36%,rgba(239, 237, 237, 0.61) 22%,#dfdde94f);
}
.table_gr div{
  width: 99%;
}
thead , tfoot {
  background-color: #43a5b0;
}
.dataTable{
  border-radius: 20px;
  overflow: hidden;
}
.table_button_gr{
  width: 5%!important;
  }
  @media (max-width: 768px){
    table th.hideOnNeed1 , 
  table td.hideOnNeed1 {
    display: none;
  }
  }
  @media (max-width: 1100px) {
  table th.hideOnNeed2 , 
  table td.hideOnNeed2 {
    display: none;
  }
  }
  table 
  { 
    width: 100%;
  }
.table-hover tbody tr:hover{
  background-color: rgba(212, 247, 255,0.70) !important;
    box-shadow: inset -4px 1px 16px 0px #5164c187;
}

tbody tr:hover {
  background: #b0d7db;
}
.index_top_header{ 
  position: relative;
}
/* show */
.formContainer
{
  padding-left: 5%;
  padding-right: 5%;
  display: inline-flex;
}
.formBox{
  background: #e7f8ff59;
  border: 2px solid white;
  border-radius: 20px;
}
.show_h
{
    width: 27%;
}

.row{
  margin-right: -7px;
  margin-left: -7px;
}
