.pos_l{
    /* position: relative; */
    margin-left: 16%;
}
.pos_l:hover
{
    box-shadow: -1px 0px 20px 0 cyan;
    border-radius: 50%; 
}
h1{
    /* position: relative; */
    margin-left: 16%;
}
.h_pos_l ,h1
{   
    padding-left: 3%;
}
.pos_r {
    position: absolute;
    right: 13%;
    top: 0;
}
label {
    /* color: white; */

        margin-bottom: 0;
        margin-top: 2%;
}
h2{
    color: skyblue;
}
/* .btn
{
    margin-top: 3%;
} */

.btn
{   
    /* margin-top: 11px; */
    /* margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px; */
}
body
{
background:#b9d7d7;
}
/* .body{
  background: azure;
    border-radius: 3%;
} */

/* .edit_class {
    transform: scale(0.8);
    transform-origin: top left;
    width: 125%;
    height: 125%;
    overflow: hidden;
  } */
  /* .body
  {
      transform: scale(0.8);
      transform-origin: top left;
      width: 125%;
      height: 125%;
      overflow: hidden;
  } */