
.pos_card_l
{
  position: absolute;
  top: 20px;
  left: 4px;
}
.pos_card_l:hover
{
  box-shadow: -1px 0px 20px 0 cyan;
  border-radius: 50%; 
}
.pos_card_r
{
  position: absolute;
  right: 2%;
  top: 20px;
}
h2{
  color: skyblue;
}
label {
  margin-bottom: 0;
  margin-top: 2%;
}
.g_sm_btn {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 13px;
  padding-right: 10px;
  padding-left: 10px;
}
.btn-add-g
{
  font-size: 13px;margin-top: 4px;
  padding: 8px 9px 9px 8px;
}
.form-group{
  margin-bottom: 2px;
  } 
  
.div_group
{
  margin-top: 10px;
  margin-bottom: 8px;
}
.div_group .div_sub_group{
  padding-left: 15px;
}
.has_one
{
  margin-top: 7px;
}
.has_many{
  margin-top: 5px;
  width: 100% !important;
}
.checkbox_form p
{
  margin-bottom: 0px;
  color: #657079;
}
.g_rep_item{
  border: solid 2px;
  border-style: groove;
  padding-bottom: 20px;
}

.error {
  color: red;
}
/* for select picker */
.btn-light{
  color: #212529;
  background-color: #ffffff;
  border-color: #cfcfcf;
}