.pos_l ,h1{
    position: relative;
    margin-left: 16%;
}
.h_pos_l ,h1
{   
    padding-left: 3%;
}
.pos_r {
    position: absolute;
    right: 13%;
}
label {
    color: white;

        margin-bottom: 0;
        margin-top: 2%;
}
h2{
    color: skyblue;
}
.btn
{
    margin-top: 3%;
}
