.pos_card_new
{
  position: absolute;
  top: 8px;
  left: 4px;
}
.index_top_header{ 
  position: relative;
}
.body
{
  transform: scale(0.8);
  transform-origin: top left;
  width: 124%;
}
