.pos_card_new
 {
   position: absolute;
   top: 8px;
   left: 4px;
 }
/* Mobile styles */
@media (max-width: 480px) {
  .pos_card_new
  {
    position: relative;
  }
}
.index_top_header{ 
  position: relative;
}
.body
{
  transform: scale(0.8);
  transform-origin: top left;
  width: 124%;
}

.loader {
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #3498db;
width: 30px !important;
height: 30px;
border-width: thick;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}