

.header_gr {
    padding: 14px;
  }

  .table_gr {
    padding: 0 50px 0 50px;
  }

  .table_gr table {
    /* border: 2px solid black; */
  }

  .table_gr table tbody tr:first-child {
    background-color: #43a5b0;
  }

.table-hover tbody tr:hover{
    box-shadow: inset -4px 1px 16px 0px #00ffff87;;
    background: none;
  }

.body
{
    transform: scale(0.8);
    transform-origin: top left;
    width: 125%;
    height: 125%;
    overflow: hidden;
}