.formContainer
{
  padding-left: 5%;
  padding-right: 5%;
  display: inline-flex;
}
.formBox{
  background: #e7f8ff59;
  border: 2px solid white;
  border-radius: 20px;
}
.show_h
{
    width: 27%;
}
.pos_r {
  position: absolute;
  right: 2%;
  top: 8px;
}

table.show_table
{
  border-radius: 18px;
  overflow: hidden;
}
table.show_table th {
    text-align: left;
    background-color: #ffd8d85e;
    padding: 8px;
}
table.show_table td {
  padding: 8px;
}
table.show_table td:nth-child(1) {
  min-width: 100px;
}
.card-footer
{
  display: flex;
  margin-left: auto;
}